* {
background-image: url('../images/email-pattern.png');
}
header {
    padding: 20px;
    margin-bottom: 20px;
    background: #ffffff;
    border: #cccccc;
}
.topbar {
    width: 1024px;
    margin: 0 auto;
  }

#name {
      float: left;
  }

#name {
    margin: 20px
}

#links {
    float: right;
    margin: 20px;
}