* {
background-image: url('../images/email-pattern.png');

}
header {
    margin-top: 0px;
    background: #ffffff;
    border: #cccccc;
    height: 100px;
    margin-bottom: 35px;
    border-bottom: 1px solid #cccccc;
  
}

.topbar {
    width: 100%;
  }

.name {
      margin-top: 0;
      padding: 36.5px;
      float: left;
      background: #4aaaa5;
      color: #ffffff;
      font-family: 'Georgia', Times, Times New Roman, serif;
      margin-left: 125px;
  }

.links {
    float: right;
    margin: 20px;
    margin-right: 125px;
}

.aboutme {
  padding: 20px;
  width: 960px;
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #dddddd;
  
}

.label {
  margin-bottom: 20px;
  margin-left: 10px;
  background: #ffffff;
  color: #4aaaa5;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
 
}

hr {
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #cccccc;
}

#textbox {
  font-family:  'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background: #ffffff;
  color: #777777;
}

#floated {
  float: left;
  width: 900px;
}

.textwrapleft {
  float: left;
  margin-right: 20px;
  
}

.footer {
  
  bottom: 0;
  margin-top: 50px;
  height: 50px;
  background: #666666;
  width: 100%;
  border-top: 8px solid #4aaaa5;
  text-align: center;
  font-family:  'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
  
}

#foot {
  vertical-align: text-bottom;
  background: #666666;
}

